{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extra_head %}
<style type="text/css">
.controls {
  font-size: smaller;
  font-family: sans-serif;
  font-style: normal;
  margin-left: 30px;
  margin-top: -12px;
}
</style>
{% endblock extra_head %}

{% block jumbotron_content %}
<p>Напоминаем, что проект Летняя школа – очень сжатый по срокам и интенсивный. Для того, чтобы вы смогли получить от него максимальное количество пользы, мы должны быть уверены, что все потенциальные участники разделяют правила организации нашего проекта. В связи с этим, просьба заполнить следующий тест. Мы относимся к этому очень важно, поэтому этот тест надо будет пройти без ошибок. Если вы хотите что-то уточнить в правилах, вернитесь на предыдущую страницу или пройдите <a href="{% url "intake:check_user_not_dumb_prequel" %}">по ссылке</a>.</p>

<p>В каждом вопросе <i>выберите правильный ответ</i> про жизнь на Летней школе. Этот тест обязательный для всех участников проекта, даже для кураторов и ребят из группы набора.</p>

{% endblock %}

{% block main_content %}

<p>
{% crispy form %}
</p>


{% endblock %}
