{% extends "base.html" %}
{% load staticfiles crispy_forms_tags %}

{% block extra_head %}
{% endblock %}

{% block jumbotron_content %}
<h2>Как вы планируете добираться?</h2>
<p>Обычно мы планируем несколько централизованных забросок на автобусх в определённые дни (обычно за день до начала цикла). Это самый удобный способ доехать, но учтите, что мы расчитываем число мест в автобусе на основе ваших ответов, так что <strong>выбирая себе место в автобусе, приложите все усилия, чтобы поехать именно на автобусе</strong>. (Место в автобусе оплачивается отдельно и сравнимо с затратами на то, чтобы добраться своим путём. Однако сил и нервов &mdash; ваших и координаторов &mdash; так тратится гораздо меньше).</p>
<p>Своим ходом можно добраться на электричке до Дубны или до Кимр, а далее либо на автобусе и немножко пешком, либо на такси до лагеря &laquo;Волга&raquo;. Подробное описание есть <a href="http://letnyayashkola.org/FAQ">в разделе ЧаВо на нашем информационном портале</a></p>
{% endblock %}

{% block main_content %}

<div class="col-sm-6">
  {% crispy form %}
</div>

{% endblock main_content %}
