{% extends 'base.html' %}

{% block jumbotron_content %}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%;">
        54%
  </div>
</div>
  <h1>Перевал</h1>
  <p>Просуммируем пока, что мы узнали друг про друга:
  <ol>
    <li>Вы узнали о том, как мы проводимся в лесу и что вас может ожидать</li>
    <li>Мы узнали, как вас зовут, зачем вы хотите к нам поехать и куда вы ездили до этого</li>
  </ol>
  </p>

  <p>Это, вообще говоря, уже довольно немало. Мне надо это записать, а вы пока подвтердите свой е-мейл? Там должна прийти ссылка, но она могла упасть случайно в спам</p>
  
{% endblock %}

{% block main_content %}
  <div class="col-lg-8">
    <p>Чтобы продолжить и подать заявку на мастерскую, надо подтвердить ваш почтовый ящик. Мы выслали ссылку для подтверждения на указанный ящик <a href="#">{{ app.email }}</a></p>

{% for k, v in app.items %}
  <dt>{{ k }}</dt>
  <dd>{{ v }}</dd>
{% endfor %}
  </div>

{% endblock main_content %}
