{% extends 'base.html' %}
{% load i18n %}

{% block extra_head %}
{{ wizard.form.media }}
{% endblock extra_head %}

{% block jumbotron_content %}
  {% if wizard.form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Ошибка</strong> при заполнении этого шага
    </div>
  {% endif %}
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
          0%
    </div>
</div>
  <h1>Шаг 1: Информация про нас</h1>
  <p>Информация обязательна для прочтения. Очень обязательно её прочитать, осознать и понять, на что вы подписываетесь.</p>
  <p>Пожалуйста, вдумчиво и медленно прочитайте текст ниже.</p>
{% endblock %}

{% block main_content %}
<div class="col-lg-8">
  <p>На&nbsp;всякий случай напоминаем: Летняя школа&nbsp;&mdash; свободный некоммерческий образовательный проект.</p>

  <p>Проходит в&nbsp;течение 4&nbsp;циклов (1&nbsp;цикл=1 неделя со&nbsp;вт&nbsp;до&nbsp;пн)
  <span class="important">с&nbsp;6&nbsp;июля по&nbsp;5&nbsp;августа 2019&nbsp;г.</span>
  Основная часть мастерских работает не&nbsp;весь срок, обратите внимание.</p>

  <p>Место проведения&nbsp;&mdash; бывший пионерский лагерь &laquo;Волга&raquo; Объединенного института ядерных исследований.
  Лагерь расположен на&nbsp;правом берегу реки Волги в&nbsp;Кимрском районе Тверской области на&nbsp;полпути между городами Дубна и&nbsp;Кимры.</p>

  <p>Заезд и&nbsp;отъезд на&nbsp;некоторые циклы будет централизованным из&nbsp;Москвы и&nbsp;до&nbsp;Москвы,
  в&nbsp;остальных случаях добираться необходимо самостоятельно (схема проезда на&nbsp;сайте).</p>

  <p class="lolwhat">Взнос на&nbsp;участие варьирует от&nbsp;400 до&nbsp;1500 рублей в&nbsp;день в&nbsp;зависимости от&nbsp;вашего желания.</p>

  <p>Проживание на&nbsp;территории лагеря в&nbsp;палатках, которые необходимо привезти с&nbsp;собой.
  Кроме того, жизнь в&nbsp;палатке немыслима без спального мешка и&nbsp;туристического коврика.</p>

  <p>Питание организовано централизовано 3&nbsp;раза в&nbsp;день. Приготовлении пищи осуществляется на&nbsp;полевой кухне,
  приготовлением занимаются мастерские в&nbsp;полном составе (все вместе&nbsp;&mdash; и&nbsp;преподаватели и&nbsp;участники) по&nbsp;очереди.</p>

  <p>Для помывки есть душ в&nbsp;стационарном помещении с&nbsp;холодной водой, горячая вода греется на&nbsp;костре.
  Кроме того, имеются душевые палатки.</p>

  <p>Для справления естественных нужд имеются сельские туалеты.</p>

  <p>Для проведения занятий есть одноэтажные деревянные домики (бывшие корпуса лагеря), оборудованные розетками.
  Кроме того, на&nbsp;территории лагеря есть Wi-Fi, мобильная связь основных операторов.</p>

  <p>Мероприятие проводится в&nbsp;сельской местности:
  <ol>
    <li>Зависимость от&nbsp;погодных условий. Необходимо взять:
      <ul>
        <li>теплые вещи</li>
        <li>непромокаемую одежду и&nbsp;обувь (на&nbsp;случай дождя)</li>
      </ul>
    </li>
    <li>Зависимость от естественного освещения &mdash; очень пригодятся карманные фонарики</li>
    <li>Вокруг вас могут находиться насекомые и разнообразных цветущие растения:
      <ul>
        <li>Если вы боитесь укусов, возьмите репелленты</li>
        <li>пригодится одежда с длинными рукавами</li>
        <li>при наличии алегрии&nbsp;&mdash; соответствующие препараты</li>
      </ul>
    </li>
    <li>возможное развитие простудных заболеваний из-за смены микроклимата
      <ul>
        <li>наличие с&nbsp;собой препаратов от&nbsp;простуды, которыми&nbsp;Вы предпочитаете пользоваться, обязательно)</li>
      </ul>
    </li>
  </ol>

  <p class="lead">ПРЕДУПРЕЖДАЕМ&nbsp;&mdash; в&nbsp;местности есть клещи, местность эндемична по&nbsp;клещевому энцефалиту. Несмотря на&nbsp;проводимую противоклещевую
  обработку. Хотя случаев укусов клещей в&nbsp;2013 и&nbsp;в&nbsp;2014 году не&nbsp;было зарегистрировано среди участников, при желании перед поездкой можете сделать привику против клещевого энцефалита.</p>

  <p>Кроме того, пребывание в&nbsp;сельской местности чревато частым получение травм с&nbsp;нарушением целостности кожных покровов. Проверьте, привиты&nbsp;ли Вы&nbsp;по&nbsp;возрасту от&nbsp;столбняка (1&nbsp;раз в&nbsp;десять лет)!</p>

  <p>Думаем, излишне говорить о&nbsp;необходимости взять с&nbsp;собой предметы личной гигиены, посуду и&nbsp;то, чем вы&nbsp;обычно пользуетесь в&nbsp;повседневной жизни. За&nbsp;всю дорогостоящую технику (телефоны, ноутбуки и&nbsp;пр.) Вы&nbsp;отвечаете сами как в&nbsp;случае пропаж при оставлении без присмотра, так и&nbsp;в&nbsp;случае намокания, падения в&nbsp;туалеты и&nbsp;прочего.</p>

  <p>Местность не&nbsp;обладает чудодейственным лечебным эффектом. Если Вы&nbsp;болеете какими-то хроническими заболеваниями, они не&nbsp;исцелятся. Все постоянно принимаемые медикаменты должны быть у&nbsp;Вас с&nbsp;собой, а&nbsp;кураторы мастерских должны знать о&nbsp;возможной необходимости оказания Вам экстренной помощи.</p>

  <p>На&nbsp;территории лагеря запрещено курить, кроме как в&nbsp;специально отведенных местах, разводить костры, что обусловлено как мерами противопожарной безоапсности, так и&nbsp;законодательством Российской Федерации. Кроме того, территория лагеря является общественным местом, распитие спиртных напитков, употребление различных веществ на&nbsp;которой запрещено. При нарушении этих правил&nbsp;Вы можете быть лишены права участия в&nbsp;мероприятии.</p>
  <p>Поездка на&nbsp;Летнюю школу&nbsp;&mdash; это смена обстановки и&nbsp;работа в&nbsp;полевых условиях. Вы&nbsp;должны знать, что участие в&nbsp;Летней школе подразумевает:</p>
  <ul>
    <li>большое количество незнакомых людей;</li>
    <li>длительное время вдали от&nbsp;дома;</li>
    <li>необходимость иногда заниматься хозяйственными работами типа мытья посуды или уборки;</li>
    <li>спокойное отношение к&nbsp;насекомым, змеям и&nbsp;прочим лесным обитателям.</li>
  </ul>
  <p>Рядом с&nbsp;территорией лагеря расположена река Волга. Разрешение на&nbsp;купание получается летом по&nbsp;результатам анализа проб воды. Однако не&nbsp;забывайте правила безопасности на&nbsp;водах, из&nbsp;которых самое основное&nbsp;&mdash; купание в&nbsp;одиночку запрещено!</p>
  <p>В&nbsp;соседнем селе есть продуктовый магазин, кроме того есть магазины в&nbsp;близлежащих городах Кимры и&nbsp;Дубна.</p>
  <p>Напоминаем, что участник может быть лишен права участия в&nbsp;мероприятии и&nbsp;должен будет покинуть территорию лагеря при нарушении правил. На&nbsp;территории базы во&nbsp;время Летней школы запрещено:</p>
  <ol>
    <li>Курение в&nbsp;неположенных местах, разведение открытого огня в&nbsp;неприспособленных для этого местах.</li>
    <li>Распитие алкгогольных напитков, наложение на&nbsp;территории в&nbsp;состоянии алкогольного или наркотического опьянения.</li>
    <li>Нарушение правил внутреннего распорядка (непосещение занятий, отказ от&nbsp;участия в&nbsp;заявленных проектах, дежурствах без уважительной причины).</li>
    <li>Грубые или конфликтные отношения с&nbsp;другими участниками мероприятия.</li>
    <li>Действия, угрожающие безопасности самого участника или окружающих.</li>
  </ol>
</div>

<div class="col-lg-4">
<form action="" method="post">{% csrf_token %}
{{ wizard.management_form }}
{% with wizard.form.confirmation as field %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for={{ field.auto_id }}>{{ field.label }}
    </label>
      {{ field }}
      {% if field.errors %}
        {% for err in field.errors %}
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <small>{{ err }}</small>
        {% endfor %}
      {% endif %}
      <span class="help-block">{{ text }}</span>
  </div>
{% endwith %}

{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}

<button type="submit" class="btn btn-lg btn-primary">
  дальше
</button>
</form>
</div>
{% endblock main_content %}
