<div class="modal fade" id="modal_comment" tabindex="-1" role="dialog" aria-labelledby="modal_comment_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_comment_label">Подтверждение</h4>
      </div>
      <div class="modal-body">
        <form method="POST" action='{% url "curators:app_short_comment" %}' id="form_comment_app">
          {% csrf_token %}
          <div class="form-group">
            <input type="hidden" id="a_pk" name="a_pk">
            <input type="hidden" id="back_url" name="back_url">
            <input type="hidden" id="short_comment_hidden" name="short_comment_hidden">
          </div>
          <div class="form-group">

            <p><b>Анкета:</b> <span id="recipient-name"></span><br/>
            <B>Мастерская:</b> <span id="a_workshop"></span><br/>
            <b>Программа:</b> <span id="a_program"></span></p>

            <textarea id="short_comment" onchange="sync_comments()">короткий коммент</textarea>
            
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" id="submit_btn">Вперёд</button>
      </div>
    </div>
  </div>
</div>

