{% extends "base.html" %}


{% block jumbotron_content %}
  <h2>Little bobby tables<small>/that's what we call him</small></h2>
  <p>Эта страница максимально проста, в анкетах нет картинок и создана в надежде что вам отсюда удобно будет копировать во всякие гуглодоки например.
</p>
   
<h2><span class="glyphicon glyphicon-wrench"></span> Эта страница в активной разработке <span class="glyphicon glyphicon-wrench"></span></h2>

<p>Ипользуй на свой страх и риск <s class="text-muted">какой блять риск от просто текста??</s>, и не жди что оно таким и останется</p>

{% endblock %}

{% block content %}
{% include "intake/curators/_apps_list_tables_comment_modal.html" %}

<div class="container">
{% for a in applications %}
  {% if forloop.first %}

  <table class="table table-hover">
  <tr>
    <th>Фамилия</th><th>Имя</th><th>Возраст</th>
    <th>когда у нас анкета</th>
    <th>когда у нас<br/>файл второго тура</th>
    <th>файл второго тура</th>
    <th>Комменты</th>
  </tr>
<tr>
   <th></th>
   <th></th>
   <th></th>
    <th>Анкета</th>
    <th>e-mail</th><th colspan="2">телефон и соцсети</th>
</tr>
<tr><td></td></tr>

  {% endif %}
<tr>
  {% with a.full_info as u %}{#<td><img src="{{ u.photo.photo_absolute_url }}" height="40px"></td>#}

  <td>{{ u.last_name }}</td><td>{{ u.first_name }}</td><td>{{ u.age }}</td>
  <td><b>{{ a.bucks.passed_first_step|date:"Y.M.d"}}</b>&nbsp;{{a.bucks.passed_first_step|date:"H:i" }}</td>

  {% if a.has_homework %}
    {% if a.has_complete_homework %}
      <td><b>{{ a.get_homework.date_uploaded|date:"Y.M.d"}}</b>&nbsp;{{ a.get_homework.date_uploaded|date:"H:i" }}</td>
      <td><a class="btn btn-xs btn-default" href="{% url 'curators:app_download_homework' a.pk a.get_homework.pk %}"><span class="glyphicon glyphicon-floppy-save"></span></a>&nbsp;файл&nbsp;ответа</td>
    {% else %}
      <td colspan="2"><em>отправлено &nbsp;{{ a.homework_sent_datetime|date:"Y.M.d"}}&nbsp;{{ a.homework_sent_datetime|date:"H:i"}}</em></td>
    {% endif %}
  {% else %}
    {% if wp_has_assignment %}
      <td colspan="2"><a href="{% url 'curators:app_send_homework' a.pk %}">Выслать задание</a></td>
    {% endif %}
  {% endif %}
<td></td>
</tr>

<tr>

<td></td>
<td></td>
<td></td>

  <td><a href="{% url 'curators:app_details' a.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>&nbsp;Анкета</a></td>
  <td><a href="mailto:{{ u.email }}">{{ u.email }}</a></td>

  <td colspan="2">
  {% for c_label, c, is_link in u.uac.get_data %}
    <dd>{{ c_label}}: {% if is_link %}<a href="{{ c }}">{{ c }}</a>{% else %}{{ c }}{% endif %}</dd>
  {% empty %}
    <dd>нет данных</dd>
  {% endfor %}

</td>

</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td colspan="3">
    <pre class="pre-comment">{{ a.short_comment|default:"" }}</pre>
</td><td>
<p>
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_comment" data-applicant="{{ a.pk }}" data-fullname="{{ a.short_info.last_name }} {{ a.short_info.first_name }}" data-shortcomment="{{ a.short_comment|default:"" }}" data-workshop="{{ a.wp_names_tuple.0 }}" data-program="{{ a.wp_names_tuple.1 }}">Оставить коммент</button></p>
</td>

</tr>

  {% endwith %}
<tr><td></td></tr>
{% if forloop.last %}</table>{% endif %}
{% empty %}<div class="row"><div class="col-md-6">Нет заявок.</div></div>
{% endfor %}

</div>

{% endblock %}

{% block extra_scripts %}
<script language="javascript">
$("#modal_comment").on('show.bs.modal', function(event) {
  var button = $(event.relatedTarget);
  var a_pk = button.data('applicant');
  var a_workshop = button.data('workshop');
  var a_program = button.data('program');
  var recipient_name = button.data('fullname');
  var short_comment = button.data('shortcomment');

  var modal = $(this);

  modal.find('.modal-title').text('Короткий комментарий к анкете #' + a_pk);
  modal.find('#a_pk').val(a_pk);
  modal.find('#a_workshop').text(a_workshop);
  modal.find('#a_program').text(a_program);
  modal.find('#recipient-name').text(recipient_name);

  modal.find('#short_comment').text(short_comment);
  modal.find('#short_comment_hidden').text(short_comment);

  modal.find('#back_url').val(window.location.pathname);
  modal.find('.modal-footer button#submit_btn').on('click', function(event) {
          //modal.find('#short_comment_hidden').text(modal.find('#short_comment');
          modal.find('.modal-body form').submit();
  });
});
</script>
<script>
function sync_comments() {
  var hidden_comment = document.getElementById('short_comment_hidden');
  var new_comment = document.getElementById('short_comment');
  hidden_comment.value = new_comment.value;
}
</script>
{% endblock %}
