{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extra_head %}
<style>
  #id_text {
    height: 300px;
  }
</style>
{% endblock %}

{% block jumbotron_content %}
  <h2>Shout-out тормозным участникам</h2>
  <p>У вас есть возможность отправить весточку <b>тем участникам кто тупит с заданием</b> на следующие программы:
  <ol>
  {% for w_p in w_metas %}
    <li>{{ w_p.workshop_name }}: &laquo;{{ w_p.program_name }}&raquo; (<a href="http://letnyayashkola.org/{{ w_p.workshop_slug }}">страница на letnyayashkola.ORG)</a></li>
  {% endfor %}
  </ol>
</p>
<p>Идея простая &mdash; сообщать что-то <em>односторонне</em> участникам вашей мастерской, которые ещё в процессе, но никак не присылают вам вступительное. Я не знаю, может вы хотите предложить им помощь. или сообщить что они уже пропустили все сроки и что если не начнут присылать, мы начнём выгонять по участнику в день или как-то так.</p>
<p><strong>Как обычно, почтовые сервера подозревают, что мы шлём спам.</strong> Это может означать, что письма могут не доходить до папки &laquo;входящие&raquo; ваших подопечных.</p>
{% endblock %}

{% block main_content %}
  <h3>Отправить всем тормозящим участникам весть:</h3>
  {% crispy form %}

{% endblock %}
