{% extends "base.html" %}

{% block jumbotron_content %}
<h2>Списки</h2>
  {% for w_s, p_s, workshop_name, program_name, _, _ in workshop_programs %}
  {% if forloop.first %}<ol>{% endif %}
    <li><a href="#{{ w_s }}-{{ p_s }}">{{ workshop_name }}: {{ program_name }}</a></li>
  {% if forloop.last %}</ol>{% endif %}
  {% endfor %}

<p>Под каждой доступной программой есть кнопка, которая даст скачать список файликом в формате <abbr title="Привет :)">XLCXMMXVIII</abbr>. Можно открыть в чём-то типа Excel.</p>
{% endblock %}

{% block main_content %}
  <div class="col-md-12">

  <h3>Мастерские и программы</h3>
  {% for workshop_slug, program_slug, workshop_name, program_name, countd, apps in workshop_programs %}
    <h4 id="{{ workshop_slug }}-{{ program_slug}}"> {{ workshop_name }}: {{ program_name }}</h4>

    <p>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-download-alt"></span>&nbsp;Скачать список
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="{% url 'curators:stats-accepted-xlsx' workshop_slug program_slug %}">
       Список принятых (XLSX)
        </a></li>
        <li><a href="{% url 'curators:stats-accepted-csv' workshop_slug program_slug %}">
       Список принятых (CSV)
        </a></li>
        <li><a href="{% url 'curators:stats-passed-xlsx' workshop_slug program_slug %}">
       Список участников &laquo;В процессе&raquo; (XLSX)
        </a></li>
        <li><a href="{% url 'curators:stats-passed-csv' workshop_slug program_slug %}">
       Список участников &laquo;В процессе&raquo; (CSV)
        </a></li>
      </ul>
    </div>

    </p>

    {% for k, v in countd.items %}
      {% if forloop.first %}<table class="table table-responsive"><tr>
      {% elif forloop.counter0|divisibleby:"4" %}
          </tr><tr>
      {% endif %}
        <td>{{ k }}</td><td>{{ v }}</td>
      {% if forloop.last %}</table>{% endif %}
    {% endfor %}
    {% for application in apps %}
      {% with application.full_info as a %}
        {% if forloop.first %}<h3>Accepted ({{ countd.accepted }}):</h3><ol>{% endif %}
          <li>{{ a.full_name }} (Возраст: {{ a.age }}).<br/>{{ a.uac.phone }} <a href="mailto:{{ a.email }}">{{ a.email }}</a></li>
        {% if forloop.last %}</ol>{% endif %}
      {% endwith %}
    {% endfor %}
  {% endfor %}
  </div>
{% endblock %}
