{% extends "base.html" %}
{% load staticfiles crispy_forms_tags %}

{% block extra_head %}
{% endblock %}

{% block jumbotron_content %}
<h2>Загрузить ответ на вступительное задание</h2>
<p>Возможно, вступительное задание подразумевает выход на связь с кураторами. Внимательно прочитайте само задание (на всякий случай, <a href="{{ homework.assignment_absolute_url }}">вот ещё раз ссылка</a>) и, когда выполните, на этой странице загрузите свой ответ.</p>
<p>Ответ попадёт в мастерскую, после чего будет досконально изучен кураторами выбранной вами мастерской.</p>
<p>Если вы пока не готовы отвечать, можно просто уйти с этой страницы <span class="text-muted"><small>(например, закрыв окошко.А заодно и дверь, а то сквозняк #robotjokes)</small></span>.</p>
{% endblock %}

{% block main_content %}

<div class="col-md-6">
  <h3>Домашнее задание</h3>
  <p class="lead">Ограничение на файл составляет несколько мегабайт (чууть больше 5). Если вам надо по каким-то причинам больше места, воспользуйтесь сервисом хранения файлов, например <a href="http://dropbox.com/">Dropbox</a> или <a href="http://disk.yandex.ru">Yandex.Disk</a>, вставьте ссылку на файлы в doc-файл и загрузите сюда. Задания принимаются ТОЛЬКО в форматах doc, pdf, zip и docx.
  {% crispy form %}
</div>
<div class="col-md-6">
  <h3>Часто вопрошаемое</h3>
  <p>Если вдруг в вашем задании явно написано, что никакого файла загружать не требуется, не стесняйтесь всё равно порадовать куратора и загрузите <a href="https://duckduckgo.com/?q=%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0+%D1%81+%D0%BA%D0%BE%D1%82%D0%B8%D0%BA%D0%BE%D0%BC&iax=1&ia=images">картинку с котиком</a>, поместив её внутри .doc-файла.</p>
  <p>Если вдруг в вашем задании требуется загрузить несколько файлов, воспользуйтесь каким-нибудь архиватором, чтобы собрать их все в кучку, залейте их на облако и вставьте ссылку на этот архив в .doc-файл. Получившийся .doc-файл надо приложить в качестве ответа на вступительное задание.</p>
  <p>Обычно после выполнения задания, руководителям мастерской потребуется выйти на связь с вами. Они напишут вам напрямую (на ящик, указанный в анкете &mdash; {{ request.user.email }}), либо воспользуются более прогрессивными технологиями. Если вы хотите уточнить что-то по заданию, выйдите на связь с одним из кураторов вашей мастерской. Их список можно найти на <a href="http://letnyayashkola.org/{{ wpc.workshop_slug }}">странице описания мастерской на letnyayashkola.org</a>.</p>
        <p>Каждая мастерская обрабатывает ответы участников с разной скоростью. Среднее время получения ответа, к которому мы стремимся &mdash; не больше 5 дней. Если прошло пять дней, и вы всё ещё не получили никакого ответа, пишите куратору вашей мастерской по всем каналам связи, которые вы можете найти.</p>
        <p>Если у вас возникли какие-то технические сложности при отправлении анкеты, <a href="mailto:sarah.connor@letnyayashkola.org">напишите Саре Коннор</a>. В письме опишите, что выделали, в каком браузере, и что пошло не так (Например: "пытался в опере на маке загрузить файл на 10 мегабайт, выскочила какая-то ошибка, компьютер сгорел и теперь пишу с калькулятора").</p>
        <p>Мы постараемся помочь так быстро, как сможем.</p>
</div>

{% endblock main_content %}
