{% extends "base.html" %}
{% load intake_extras %}

{% block jumbotron_content %}
<h1>Квартирьерство</h1>

<p>Инфа по квартирьерам тут представлена в виде таблички, но можно отсюда её слямзить прямо вот как бы сразу.</p>
<p><a href="#">Get csv file for excel?</a> А надо? Это можно скопировать и просто вставить в libreoffice/excel</p>
{% endblock %}

{% block main_content %}
  {% for w, p, last_name, first_name, middle_name, email, phone, can_before, can_after, skills  in handyguys %}
    {% if forloop.first %}
    <table class="table table-striped responsive">
      <thead>
      <tr>
        <th>Мастерская</th>
        <th>Программа</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>email</th>
        <th>phone</th>
        <th>can_before</th>
        <th>can_after</th>
        <th>skills</th>
      </tr>
      </thead>
      <tbody>
    {% endif %}
        <tr>
          <td>{% w_slug_to_name w workshops_slug2name_dict %}</td>
          <td>{% p_slug_to_name p programs_slug2name_dict %}</td>
          <td>{{ last_name }}</td>
          <td>{{ first_name }}</td>
          <td>{{ middle_name }}</td>
          <td>{{ email }}</td>
          <td>{{ phone }}</td>
          <td>{{ can_before|yesno:"Квартирьрество,---" }}</td>
          <td>{{ can_after|yesno:"Послеквартирьерство,---" }}</td>
          <td>{{ skills }}</td>
          </td>
        </tr>
    {% if forloop.last %}
      </tbody>
    </table>
    {% endif %}
  {% endfor %}

{% endblock %}
