{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block jumbotron_content %}
  <h1>Загрузить список всех ЧС-ребят</h1>
  <p>Перед загрузкой файла убедись что в базе созданы все нужные категории которые в нём есть. Иначе может не сработать.</p>
{% endblock %}

{% block main_content %}
  {% crispy form %}
{% endblock %}
