{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/timeline.css' %}" >
{% endblock %}

{% block jumbotron_content %}
<h1>{{ jumbo_title|safe }}</h1>
    <p>Поздравляем. Вы заполнили анкету, теперь надо набраться терпением и, когда понадобится ваша реакция, мы вам сообщим.
    </p>
{% endblock %}

{% block main_content %}

    <div class="page-header">
      <h1 id="timeline">Путевой лист вашей анкеты</h1>
      {% with application_case.wp_names_tuple as wp %}
        <p><strong>Выбранная программа:</strong> {{ wp.0 }}:{{ wp.1 }}</p>
      {% endwith %}
      {# FIXME: тут падает с ValueError #}
      {#      <p><a href="{% url 'intake:own_app_readonly' %}" class="btn btn-default">Посмотреть свою анкету.</a></p>#}
{% if profile.is_underage %}
{% include "intake/_underage_docs_required_snippet.html" %}
{% endif %}
    </div>

<div class="row">
{% with case=application_case homework=assignment %}
  <ul class="timeline">
    {% if photo.needs_to_be_changed %}
      {% include 'intake/timeline/snippets/replace_photo.html' %}
    {% endif %}

    {% if case.bucks.retry_granted %}
      {% include 'intake/timeline/snippets/06_retry_granted.html' %}
    {% endif %}

    {% if case.bucks.accepted_by_workshop %}
      {% include 'intake/timeline/snippets/05_accepted_by_workshop.html' %}
    {% elif case.bucks.declined_by_workshop %}
      {% include 'intake/timeline/snippets/05_declined_by_workshop.html' %}
    {% endif %}

    {% if case.bucks.passed_first_step %}
      {% if not case.bucks.retry_granted %}
        {% if homework %}
          {% include 'intake/timeline/snippets/04_homework.html' with homework=homework %}
        {% endif %}
      {% else %}
          {% include 'intake/timeline/snippets/04_hoarsing_around.html' %}
      {% endif %}

      {% include 'intake/timeline/snippets/03_first_round_finished.html' %}
    {% elif case.bucks.nabor_rejected %}
      {% include 'intake/timeline/snippets/02_nabor_rejected.html' %}
    {% endif %}

    {% include 'intake/timeline/snippets/01_application_filed.html' %}

    {% include 'intake/timeline/snippets/00_account_created.html' %}
  </ul>
{% endwith %}
</div>

{% endblock %}
