body {
  font-size: 16px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.pre-comment {
  word-break: break-word;
  white-space: pre-wrap;
}

.important {
  font-weight: bold;
  font-size: 24px;
}

.lolwhat {
  color: red;
  font-size: 24px;
}

.help-block {
  font-style: italic;
}

.not {
  display: none;
}

.profile-required-field {
  color: red;
}

html {
  position: relative;
  min-height: 100%;
}

.container {
  max-width: 960px;
}

.footer .container .text-muted {
  margin: 20px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
