{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load account %}

{% block head_title %}Подтвердите ваш email{% endblock %}


{% block content %}
  <div class="container">
  <h1>Подтвердите ваш email</h1>

  {% if confirmation %}

  {% user_display confirmation.email_address.user as user_display %}

  <p>{% with confirmation.email_address.email as email %}Пожалуйста, подтвердите email <a href="mailto:{{email}}">{{ email }}</a>{% endwith %}</p>

  <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
  {% csrf_token %}
      <button type="submit">Подтвердить</button>
  </form>

  {% else %}

  {% url 'account_email' as email_url %}

  <p>Ссылка на подтверждение вашего почтового ящика успела остыть и испортиться. Пожалуйтса <a href="{{ email_url}}">запросите новую ссылку для подтверждения</a>.</p>

  {% endif %}
  </div>

{% endblock %}
